body { 
	font-family: Arial, sans-serif;
	width: 95%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;

}


.row {
	background-color: #40A14C;

}

.container {
	background-color: #40A14C;

}

.viivaH{ /*Header border*/
	border-left: 5px solid;
	border-right: 5px solid;
	border-top: 10px solid;
	border-color: white;
		padding: 15px;
		display: flex;
}
.viivaN{ /*Nav border*/
	border-left: 5px solid;
	border-right: 5px solid;
	border-bottom: 10px solid;
	border-color: white;
		padding: 10px;
}
.viivaV{ /*navbar reunat*/
	border-left: 5px solid;
	border-right: 5px solid;
	border-bottom: 0px solid;

	border-color: white;
}

.viivaVf{ /*footer reunat*/
	border-left: 5px solid;
	border-right: 5px solid;
	border-top: 0px solid;
	border-bottom: 10px solid;
	border-color: white;
}


.viiva1 { /*Footer border*/
	border-left: 5px solid;
	border-right: 5px solid;
	border-top: 10px solid;
	border-bottom: 10px solid;
	border-color: white;
	padding: 10px;
}
.viiva2 { /*Sisältö border*/
	border-left: 5px solid;
	border-right: 5px solid;
	border-color: white;
	
}
.keskiviiva {
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
 column-rule-width: 10px;
 column-rule-color: white;

 	
}


.otsikko {
	text-align: center;
	display: flex;
	font-size: 9vw;
	font-weight: bold;
	color: #dfff4f;

}
h6 {
	text-align: center;
	color: #2F4726;
}

.kuva1 {
	text-align: center;
	padding-top: 80px;
	
}
.kuva2 {
		text-align: center;
	padding-top: 20px;
	
}


.div1 {
	padding-top: 10px;
	padding-left: 10px;
	padding-right:  10px;
	padding-bottom:  5px;
	
}
.div2 {
	padding-top: 20px;
	padding-left: 10px;
	padding-right:  10px;
	padding-bottom:  10px;
}
.div3 {
	padding-top: 80px;
	padding-left: 10px;
	padding-right:  10px;
	padding-bottom:  10px;
	
}

img {
  width: 70%;
  height: auto;
}

form {
  max-width: 100%;
  height: auto;
  display: flex;
}

.pallo {
	
	height: 12vw; 
	width: 13vw;
	text-align: left;
	display: flex;
}



.nav-pills > .active > a, .nav-pills > .active > a:hover  { /*aktiivinen linkki, ul> li > a,ul > li> a */
	background-color: #dfff4f;
	color: #2F4726;
}
	
.nav-pills > .nav-item  > a:hover  { /*hiiri menee yli ul > li> a*/
	background-color: #dfff4f;
	color: #2F4726;
}
/*navin tekstiväri ul > li	
.nav-pills >.nav-item  > a { 
	color: white;
}*/
.nav > .nav-item > a{ /*footerin nav tekstiväri ul > li*/	
	color: #2F4726;
}

.dropdown-menu, .dropdown-item { /*valikko avataan, valikon taustaväri ja tekstin väri ul, li*/
	background-color: #40A14C;
	color: #2F4726;

}
.dropdown-menu > .dropdown-item > .li, a:hover { 
	background-color: #dfff4f !important; 
    color: #2F4726 !important;
}



@media only screen and (max-width: 576px) {

.otsikko {
	text-align: center;
	display: flex;
	font-size: 9vw;
	font-weight: bold;
	color:#40A14C;
}	

	
.row {
	background-color: white;
	
}
.container {
	background-color: white;
	
}
.viivaH{ /*Header border*/
	border-left: 10px solid;
	border-right: 10px solid;
	border-top: 0px solid;

	border-color: #40A14C;
}



.viivaN{ /*Nav border*/
	border-left: 10px solid;
	border-right: 10px solid;
	border-bottom: 0px solid;
	border-color: #40A14C;

}
.viiva1 { /*Footer border*/
	border-left: 10px solid;
	border-right: 10px solid;
	border-top: 0px solid;
	border-bottom: 0px solid;
	border-color: #40A14C;
}
.viiva2 { /*Sisältö border*/
	border-top: 0px solid;
	border-left: 10px solid;
	border-right: 10px solid;
	border-bottom: 0px;
	border-color: #40A14C;
}
.viivaVf{ /*footer reunat*/
	border-left: 0px solid;
	border-right: 0px solid;
	border-top: 0px solid;
	
	border-color: #40A14C;
}

.oma {
		border-bottom: 10px solid;
		border-color: #40A14C;
}
.oma2 {
	    
		border-top: 10px solid;
		border-color: #40A14C;
}

.keskiviiva {
  column-count: 1;

}

.nav-pills > .active > a, .nav-pills > .active > a:hover  { /*aktiivinen linkki, ul> li > a,ul > li> a */
	background-color: #dfff4f;
	color: #40A14C;
}
	
.nav-pills > .nav-item  > a:hover  { /*hiiri menee yli ul > li> a*/
	background-color: #dfff4f;
	color:#2F4726;
}
/*navin tekstiväri ul > li	
.nav-pills >.nav-item  > a { 
	color: white;
}*/



.nav > .nav-item > a{ /*footerin nav tekstiväri ul > li*/	
	color: #40A14C;
}

.kuva1 {
	text-align: center;
	padding-top: 30px;
	
}

.div3 {
	padding-top: 10px;
	padding-left: 10px;
	padding-right:  10px;
	padding-bottom:  10px;
	
}

}


